main {
    background-color: green;
}

h3 {
    color: rgb(47, 255, 61);
}

c:\Users\osmar\desktop\gamma\week\spotify\Images\devices-icon.png {
    height: 1%;
    width: 1%;
    position: center;
}

footer {
    color: black;
    position: center;
}